{% extends 'base.html' %}

{% block title %}Confirmación de Restablecimiento de Contraseña{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="../../static/css/login.css">
{% endblock %}

{% block body %}
<main class="form-signin w-100 m-auto">
    <form method="post">
        {% csrf_token %}
        <a href="{% url 'login' %}" class="d-block text-center">
            <img class="mb-3 mx-auto" src="../../../static/img/logow.png" alt="" width="120" height="120">
        </a>
        <h1 class="h3 mb-3 fw-normal text-center">Restablecer Contraseña</h1>

        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {% for error in form.non_field_errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="form-floating">
            {{ form.new_password.label_tag }}
            {{ form.new_password }}
        </div>
        <div class="form-floating">
            {{ form.confirm_password.label_tag }}
            {{ form.confirm_password }}
        </div>

        <button class="btn btn-primary py-2 w-100 mt-3" type="submit">Cambiar Contraseña</button>
    </form>
</main>
{% endblock %}
