{% extends 'base.html' %}

{% block title %}Verificar Código{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="../../static/css/login.css">
{% endblock %}

{% block body %}
<main class="form-signin w-100 m-auto">
    <form method="post">
        {% csrf_token %}
        <a href="{% url 'login' %}" class="d-block text-center">
            <img class="mb-3 mx-auto" src="../../../static/img/logow.png" alt="" width="120" height="120">
        </a>
        <h1 class="h3 mb-3 fw-normal text-center">Verificar Código</h1>

        {% if messages %}
            <div class="alert alert-danger">
                {% for message in messages %}
                    <div>{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="form-floating">
            <input type="text" class="form-control" id="floatingCode" name="code" placeholder="Código de Verificación" required>
            <label for="floatingCode">Código de Verificación</label>
        </div>

        <button class="btn btn-primary py-2 w-100" type="submit">Verificar Código</button>
        <p><a href="{% url 'password_reset' %}" class="d-block text-center">Reenviar Código</a></p>
    </form>
</main>
{% endblock %}
