body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.navbar h3 {
    font-size: 18px;
    margin: 0 20px 0 0;
}

.navbar-brand img {
    width: 150px; /* Tamaño ajustado */
    height: auto;
}

.navbar-menu {
    display: flex;
    align-items: center;
}

.navbar-menu .btn-link {
    display: flex;
    align-items: center;
    padding: 0;
    text-decoration: none;
    color: #000;
}

.navbar-menu .btn-link i {
    font-size: 2.5rem;
}

.navbar-menu .btn-link span {
    margin-left: 5px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    padding: 0;
    text-decoration: none;
    color: #000;
}

.dropdown {
    position: relative;
    margin-right: 15px; 
}

.dropdown .btn {
    font-size: 15px;
    padding: 10px 20px;
}

.dropdown-menu {
    padding: 10px;
    border-radius: 5px;
}

.dropdown-menu a {
    color: #000; 
    text-decoration: none; 
    display: block; 
    padding: 0px 16px; 
}

h2 {
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.table th,
.table td {
    border: none; 
    padding: 12px; 
}

.table {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.294); 
    border-radius: 10px;
}

.card.border-danger {
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.2);
    border: 1px solid rgba(255, 0, 0, 0.2);
}

.card.border-danger:hover {
    transform: translateY(-5px); /* Efecto de elevación al hacer hover */
    box-shadow: 0 8px 16px rgba(255, 0, 0, 0.4); /* Sombra roja más pronunciada */
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra horizontalmente el contenido */
    padding: 18px; /* Aumentar padding alrededor del título */
    font-size: 1.2rem; /* Tamaño de fuente más grande */
    font-weight: bold; /
}

.card-header img {
    margin-right: 10px; /* Espacio entre la imagen y el texto */
    height: 30px; /* Tamaño de la imagen */
    width: auto;
}

